*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto',sans-serif;
}
.navbar{

    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 100px;

    left: 40px;
    cursor: pointer;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../../images/Olympics.webp);
    background-position: center;
    background-size:cover;
    padding-left: 4%;
    padding-right: 2%;
    box-sizing: border-box;
}


.instruction4{
    width: 85%;
    color: black;
    font-size:25px;
    position: relative;
    top: -0px;
    left: 3%;
}
.instruction5{
    width: 85%;
    color: black;
    font-size:25px;
    position: relative;
    top: -0px;
    left: 3%;
}
.instruction6{
    width: 90%;
    color: black;
    font-size:25px;
    position: relative;
    top: 0px;
    left: 3%;
}
.instruction7{
    width: 85%;
    color: black;
    font-size:25px;
    position: relative;
    top: 5px;
    left: 3%;
}


nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: white;
    color: white;
    font-size: 20px;
}
.row{
    display: flex;
    height:88% ;
    align-items: center;
    padding-right: 20px;
}
.col{
    flex-basis: 50%;
}
h1{
    color: azure;
    font-size:100px;
}
h2{
    color: black;
    font-size:60px;
}
h3{
    color: black;
    font-size:50px;
}
p{
    color: azure;
    font-size: 30px;
}
button{
    width: 200px;
    color:#000;
    font-size: 20px;
    padding: 20px 0;
    background: #fff;
    border: 0;
    border-radius: 40px;
    outline: deepskyblue;
    margin-top: 40px;
}


#past_games{
    width: 100%;
    color: black;
    font-size:60px;
    position: relative;
    top: -5px;
    left: 3%;
}

#winter_events{
    width: 100%;
    color: black;
    font-size:60px;
    position: relative;
    top: -5px;
    left: 3%;
}




.instruction7 table {
    height: 400px;
    text-align: center;
    border-collapse: separate;
    border-spacing: 50px 5px;
}
.instruction7 p {
    font-size: 30px;
    color: black;
}
.instruction7 img {
    width: 250px;
}




/* Styles for details html*/
.details_title {
    background-image: url("../../images/title_background.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height:400px;
    position: relative;
    top:0px;
}
.details_title h3 {
    color: white;
}
.details_card{
    background-color: white;
    width: 400px;
    height: 20%;
    position: absolute;
    left: 50px;
    top:450px;
}
.details_instruction{
    background-color: white;
    width: 67%;
    height:400px;
    position: absolute;
    left: 500px;
    top:450px;
}
.details_instruction h4{
    font-size: 40px;
}
.details_instruction table{
    height: 100px;
    width: 100%;
    text-align: left;
    border-collapse: separate;
    border-spacing: 10px 20px;
    font-size: 30px;
    color: darkblue;
}
.details_instruction td{
    width: 200px;
}
.details_instruction p{
    color: black;
}


/* Style for image list*/
#imgList_wrapper{
    /*width: 1600px;*/
    width: 80%;
    height: 900px;
    margin: 0 auto;
    position: relative;
    /*left: -180px;*/
    top:10px;
}
.imgList_container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.imgList_container ul{
    list-style: none;
}
.imgList_container a{
    text-decoration: none;
}
.imgList{
    width: 4800px;
    position: absolute;
    z-index: 5;
}
.imgList>li{
    float: left;
    width: 1600px;
    height: 900px;
}
.imgList>li>img{
    width: 100%;
    height: 100%;
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}
.imgList_pre,.imgList_next{
    position: absolute;
    top: 375px;
    background: white;
    padding: 10px 0; z-index: 100;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.imgList_pre:hover,.imgList_next:hover{
    cursor: pointer;
    opacity: 1;
    filter: alpha(opacity=100);
}
.imgList_pre{
    left: 10px;
}
.imgList_next{
    right: 10px;
}
.dollList{
    width:180px;
    position: absolute;
    z-index: 10;
    bottom: 20px;
    left: 50% ;
}
.dollList li{
    float: left;
    margin-right: 10px;
}
.dollList li.sec a{
    background: orange;
}
.dollList li a{
    width: 15px;
    height: 15px;
    background: rgba(230,230,230,0.6);
    border-radius: 50%;
    display: inline-block;
}


.year_and_game{
    background: white;
    color: black;
    width: 100%;
    margin: 0 auto;
}

.year{
    width: 50%;
    background: white;
    float: left;
}
.game{
    width: 50%;
    background: white;
    float: right;
}


.game_timeline {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
}

.game_timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #006E51;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.game_timeline_container {
    padding: 0;
    position: relative;
    background: inherit;
    width: 50%;
}

.game_timeline_container.left {
    left: 0;
}

.game_timeline_container.right {
    left: 50%;
}

.game_timeline_container::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    right: -8px;
    background: #ffffff;
    border: 2px solid #006E51;
    border-radius: 16px;
    z-index: 1;
}

.game_timeline_container.right::after {
    left: -8px;
}

.game_timeline_container::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    top: calc(50% - 1px);
    right: 8px;
    background: #006E51;
    z-index: 1;
}

.game_timeline_container.right::before {
    left: 8px;
}

.game_timeline_container .date {
    position: absolute;
    display: inline-block;
    top: calc(50% - 8px);
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #006E51;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
}


.game_timeline_container .content {
    padding: 30px 90px 30px 30px;
    background: #F6D155;
    position: relative;
    border-radius: 0 500px 500px 0;
}

.game_timeline_container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
}

.game_timeline_container .content h2 {
    margin: 0 0 10px 0;
    font-size: 24px;
    font-weight: normal;
    color: #006E51;
}

.game_timeline_container .content a {
    text-decoration: none;
}


@media (max-width: 767.98px) {
    .game_timeline::after {
        left: 90px;
    }

    .game_timeline_container {
        width: 100%;
        padding-left: 120px;
        padding-right: 30px;
    }

    .game_timeline_container.right {
        left: 0%;
    }

    .game_timeline_container.left::after,
    .game_timeline_container.right::after {
        left: 82px;
    }

    .game_timeline_container.left::before,
    .game_timeline_container.right::before {
        left: 100px;
        border-color: transparent #006E51 transparent transparent;
    }

    .game_timeline_container.left .date,
    .game_timeline_container.right .date {
        right: auto;
        left: 15px;
    }

    .game_timeline_container.left .icon,
    .game_timeline_container.right .icon {
        right: auto;
        left: 146px;
    }

    .game_timeline_container.left .content,
    .game_timeline_container.right .content {
        padding: 30px 30px 30px 90px;
        border-radius: 500px 0 0 500px;
    }
}