*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto',sans-serif;
    text-align: center;
}

.navbar{
    margin-left: 50px;
    height: 100px;
    display: flex;
    align-items: center;
   /* width: 100%;*/
    background: white;


}
.logo{

    width: 100px;
    left: 50px;
    cursor: pointer;

}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: white;
    color: black;
    font-size: 20px;
}

.intro{
    width: 100%;
    height: 850px;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(image/Olympics.webp);
    background-position: center;
    background-size:cover;
    text-align: center;
    /*
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    vertical-align: middle;*/
}
h1{
    font-family: 'Lato', sans-serif;
    font-size: xxx-large;
    color: white;
    position: relative;
    top: 30px;

}
p{
    font-family: "Lato", sans-serif;
    font-size: x-large;
    color: white;
    position: relative;
    margin-right: 350px ;
    margin-left: 350px;
    top: 60px;

}
.bar{
    background: transparent;
    color: black;
    width: 100%;
    height: 500px;
    position: relative;
    top: 120px;
   /* margin:10px;*/
    display: flex;
    flex-direction: row;
}
.country{
    background: whitesmoke;
    color: black;
    width: 90%;
    margin: 10px 10px;
    height: 500px;
    display: flex;


}
.discipline{
    background: whitesmoke;
    color: black;
    width: 90%;
    margin: 10px ;
    display: flex;
    height: 500px;


}
.card1{
    width: 600px;
    position: relative;
}
.card2{
    width: 600px;
}
.searchbox{
    width: 100%;
    height: 700px;
    background:whitesmoke;
    background-size:cover;
    vertical-align: middle;
    position: relative;
    top: 50px;
}
h3{
    font-family: 'Lato', sans-serif;
    font-size: xx-large;
    color: black;
    position: relative;
    top: 30px;

}

.Container{
    margin: auto;
    background: white;
    position: relative;
    top: 50px;
    width: 400px;
    height: 42px;
    border: 4px solid #2980b9;
    padding:0px 10px;
    border-radius: 50px;
}
.elementsContainer{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.searchButton{
    border:none;
    height: 90%;
    width: 90%;
    padding:0px 5px;
    border-radius: 20px;
    font-size: 18px;
    font-family: "Nunito";
    color: #424242;
    font-weight: 500;
}
.search:focus{
    online:none;
}
.material-icons{
    font-size:26px;
    color:#2980b9

}
/*------------------------公共样式表----------------------------*/
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
a {
    text-decoration: none;
}
.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-align {
    display: flex;
    align-items: center;
}
.center-justify {
    display: flex;
    justify-content: center;
}
.center-spacearound {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*------------------------本项目公共样式----------------------------*/


#container {
    width: 800px;
    height: 400px;
    margin: 0 auto;
    padding-top: 30px;
    box-sizing: border-box;
}
.sea-container {
    width: 450px;
    height: 30px;
    background-color: white;
    margin: 100px auto;
    border: 1px solid #317EF3;
}
.searchBar {
    float: left;
    width: 350px;
    height: 30px;
    padding: 0 10px;
    box-sizing: border-box;
}
.searchButton {
    width: 100px;
    height: 30px;
    background-color: #317EF3;
    color: white;
    font-size: 15px;
}

ul#drop {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul#drop li {
    margin: 0;
    padding: 10px;
}

ul#drop li:hover {
    background-color: darkgrey;
    width:200px;
}

p#selectedId {
    display: inline-block;
}
.countryChart{
    flex-direction: row;
    display: flex;
    position: relative;
    top: -80px;
    /*width: 100%;
    height: 400px;*/
}
.chartPart1{
    width: 400px;


}
.chartPart2{
    position: relative;
    left: 80px;
    width: 400px;

}
.chartPart3{
    position: relative;
    left: 120px;
    width: 400px;

}

