*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto',sans-serif;
    text-align: center;
}

.navbar{
    margin-left: 50px;
    height: 100px;
    display: flex;
    align-items: center;
   /* width: 100%;*/
    background: white;


}
.logo{

    width: 100px;
    left: 50px;
    cursor: pointer;

}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: white;
    color: black;
    font-size: 20px;
}

.intro{
    width: 100%;
    height: 850px;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(image/Olympics.webp);
    background-position: center;
    background-size:cover;
    text-align: center;
    /*
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    vertical-align: middle;*/
}
h1{
    font-family: 'Lato', sans-serif;
    font-size: xxx-large;
    color: white;
    position: relative;
    top: 30px;

}
p{
    font-family: "Lato", sans-serif;
    font-size: x-large;
    color: white;
    position: relative;
    margin-right: 350px ;
    margin-left: 350px;
    top: 60px;

}
#switch {
    position: relative;
    top: 50px;
    left: 0%;
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.bar{
    background: white;
    color: black;
    width: 90%;
    height: 500px;
    position: relative;
    left: 5%;
    top: 100px;
    display: flex;
    flex-direction: row;
}
.context{
    background: white;
    position: relative;
    font-size: small;
    font-family: "Lato", sans-serif;
    left: 5%;
    top: 20%;
    color: black;
    width: 40%;

}
.country{
    background: transparent;
    position: relative;
    top: -60%;
    left: 30%;
    color: black;
    width: 50%;
    height: 100%;

}

.card1{
    width: 600px;
    position: relative;
    top: 130px;
    left:40%;
}

.searchCountry{
    width: 100%;
    height: 150px;
    background:white;
    background-size:cover;
    vertical-align: middle;
    position: relative;
    top: 50px;
}
h3{
    font-family: 'Lato', sans-serif;
    font-size: xx-large;
    color: black;
    position: relative;
    top: -10px;
}
h6{
    font-family: "Lato", sans-serif;
    font-size: small;
    position: relative;
    left: -20px;
    top: 200px;
    height: 20px;
}
#searchBox{
    background: white;
    position: relative;
    top:5%;
    left: 35%;
    width: 400px;
    height: 42px;
    border: 4px solid #2980b9;
    padding:0px ;
    border-radius: 50px;
}
.elementsContainer{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.blue-input{
    border: none;
    height: 110%;
    width: 90%;
    margin: 6px ;
    border-radius: 50px;
    font-size: 18px;
    color: #424242;
    font-weight: 500;
}
.search:focus{
    online:none;
}
.material-icons{
    font-size:26px;
    color:#2980b9
}

#btn{
    position: relative;
    left: 80%;
    top: -30px;
    border:none;
    height: 90%;
    width: 30%;
    padding:0px 5px;
    border-radius: 20px;
    font-size: 18px;
    font-family: "Nunito";
    color: #424242;
    font-weight: 500;
}
.footer{
    position: relative;
    top: 500px;
    width: 100%;
    height: 20px;
    background: #008CBA;
}
h4{
    font-size: small;
    color: white;
    font-family: "Lato", sans-serif;
}
/*
.search:focus{
    online:none;
}
.material-icons{
    font-size:26px;
    color:#2980b9
}
 */
/*------------------------公共样式表----------------------------*/
/*
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
a {
    text-decoration: none;
}
.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-align {
    display: flex;
    align-items: center;
}
.center-justify {
    display: flex;
    justify-content: center;
}
.center-spacearound {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
*/
/*------------------------本项目公共样式----------------------------*/


/*
#searchBox {
    width: 800px;
    height: 400px;
    margin: 0 auto;
    padding-top: 30px;
    box-sizing: border-box;
}

 */
/*
.searchBar {
    float: left;
    width: 350px;
    height: 30px;
    padding: 0 10px;
    box-sizing: border-box;
}
.searchButton {
    width: 100px;
    height: 30px;
    background-color: #317EF3;
    color: white;
    font-size: 15px;
}

 */
/*
ul#drop {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul#drop li {
    margin: 0;
    padding: 10px;
}

ul#drop li:hover {
    background-color: darkgrey;
    width:200px;
}

p#selectedId {
    display: inline-block;
}
*/
.countryChart{
    flex-direction: row;
    display: flex;
    position: relative;
    top: 10%;
    /*width: 100%;
    height: 400px;*/
}
.chartPart1{
    width: 30%;
    left: 2%;
}
.chartPart2{
    position: relative;
    left: 2%;
    width: 35%;
   /* top: -20px;*/

}
.chartPart3{
    position: relative;
    left: 5%;
    width:25%;

}


